.welcome-header {
  position: relative;
  height: 350px;
  background-color: #103D7C;
  background-image: url("../assets/img/city-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 0;
  overflow: hidden;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 1;
}


.welcome-header.hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.welcome-title {
  font-size: 2.5rem;
  margin: 0;
}

.welcome-subtitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
