<header class="main-header">
  <div class="logo">
    <img src="../assets/img/Logo_PaceUp.png" alt="Logo" class="logo-img" />
    <span>PaceUp</span>
  </div>

  <nav class="nav">
    <a href="#">Aprender</a>
    <a href="#">Practicar</a>
    <a href="#">Herramientas</a>
  </nav>

  <div class="language-switcher">
    <button id="languageBtn" class="language-btn">
      Cambiar idioma | <span id="languageName">ESP</span>
      <img id="languageFlag" class="flag-img" src="../assets/img/spanish.png" alt="Bandera" />
    </button>
  </div>
</header>
