<header class="main-header">
  <a href="home.html" class="logo-link">
    <div class="logo">
      <img src="../assets/img/logo_paceUp.png" alt="Logo" class="logo-img" />
      <span>PaceUp</span>
    </div>
  </a>

  <nav class="nav">
    <a href="#niveles">Niveles</a>
    <a href="#practicar-content">Practicar</a>
    <a href="#section-herramientas">Herramientas</a>
  </nav>

  <div class="language-switcher">
    <button id="languageBtn" class="language-btn">
      Cambiar idioma | <span id="languageName">ESP</span>
      <img id="languageFlag" class="flag-img" src="../assets/img/languages/spanish.png" alt="Bandera" />
    </button>
  </div>
</header>
