<div class="nivel-header">
  <h1>{{titulo}}</h1>
  <div class="nivel-main">
    <p>{{bienvenida}}</p>
    <img src="{{imagen}}" alt="{{titulo}}" />
  </div>
<section class="modos-aprendizaje">
  <h2>Modos de aprendizaje</h2>
  <div id="modos-dinamicos" class="tarjetas-lista"></div>
</section>
</div>

<template id="card-template">
  <div class="card">
    <h3 class="card-title">Título</h3>
    <div class="card-image-wrapper">
      <img class="card-image" src="" alt="Imagen" />
    </div>
    <p class="card-description">Descripción breve</p>
  </div>
</template>
